[submodule "subprojects/sqlitecpp"]
	path = subprojects/sqlitecpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "subprojects/tgbot-cpp"]
	path = subprojects/tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp
[submodule "subprojects/json"]
	path = subprojects/json
	url = https://github.com/nlohmann/json
